.body {
    display: flex;
    height: 100vh;
}

.left {
    width: 200px;
    background-color: red;
}

.right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.head {
    background-color: aquamarine;
}

.content {
    background-color: lightblue;
    height: 100%;
}

.bottom {
    background-color: darkkhaki;
}